<footer class="bg-black/90 w-full z-20">
  <div class="max-w-6xl mx-auto w-full p-5 grid md:grid-cols-2 justify-items-center gap-3">
    <div class="logo text-center">
      <a href="./index.html">
        <img src="/media/logo.svg" class="w-20" />
      </a>
    </div>

    <!-- footer linkes -->
    <div class="my-4">
      <ul class="text-white text-xl space-y-3 text-center">
        <li><a href="./about.index.html">About</a></li>
        <li><a href="./blogs/index.html">Blogs</a></li>
        <li><a href="./projects/index.html">Projects</a></li>
        <li><a href="./contact/index.html">Contact</a></li>
      </ul>
    </div>
    <!-- copyright -->
    <p class="text-white/80 italic md:col-start-1 md:col-span-2">Copyright 2022, All rights are reserved</p>
  </div>
</footer>
