{% include 'head.njk' %}
<body class="relative overflow-x-hidden dark:bg-dark dark:text-white text-dark transition-all duration-300">
  <main class="transition-all duration-300 w-full dark:bg-black/80 min-h-screen px-4 z-10 backdrop-blur-3xl">
    {% include 'header.njk' %}
    <div class="mx-auto prose prose-base dark:prose-invert md:prose-lg mt-8 pb-7">
      <h1>{{ title }}</h1>
      <figcaption>
        <img class="w-full" src="{{ img }}" aria-hidden="true" alt="{{ imgCaption }}">
        <figcaption>
          {{ imgCaption }}
        </figcaption>
      </figcaption>
      {{ content | safe }}
    </div>
  </main>
  {% include 'footer.njk' %}
  <script src="/assets/js/index.js"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
