---
title: CMarghin | Home
layout: base.njk
---
<section class="h-96 w-full flex items-center text-xl md:text-3xl font-bold text-center">
  <p>This website is still under construction .. so some pages won't work right now .. I'm still testing how things work :)</p>
</section>